body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    -webkit-animation: fadeIn .75s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeIn .75s;
    /* Firefox < 16 */
    -ms-animation: fadeIn .75s;
    /* Internet Explorer */
    -o-animation: fadeIn .75s;
    /* Opera < 12.1 */
    animation: fadeIn .75s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar-default {
    transition: 500ms ease;
    background: #f8f9fa;
}

.navbar-default.scrolled {
    background: #fff;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    color: #222;
}

.title span .tes {
    color: #0DAD8E;
}

.title span {
    transition: 1s;
    color: #007bff;
}

.title span::before {
    content: "Landing Page";
    animation: animate infinite 10s;
}

@keyframes animate {
    0% {
        content: "Official Site";
        transition: .25s linear;
    }
    50% {
        content: "Portofolio Page";
        transition: .25s linear;
    }
    75% {
        content: "CV Site";
        transition: .25s linear;
    }
}

.headerImg {
    height: 523px;
    background-color: #f8f9fa;
    background-size: cover;
}

.rowMargin {
    margin-top: 145px;
}

.intro {
    height: 450px;
    display: flex;
    align-items: center;
    color: #222;
}

.description {
    color: #0DAD8E;
}

.headerButton:hover {
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.2);
}

.btn-success,
.btn-success:hover {
    background-color: #0DAD8E;
    border: none;
}

.logoCard {
    color: #007bff;
}

.name:hover {
    color: #0DAD8E;
    transition: .25s linear;
}

.about {
    height: auto;
    background: #fff);
    background-size: cover;
}

.text-green {
    color: #0DAD8E;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: none;
}


/*=== Trigger  ===*/

.animate {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animatex {
    -webkit-animation-delay: .75s;
    -moz-animation-delay: .75s;
    animation-delay: .75s;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px;
}

.list-group-item {
    border: none;
}